
<% @order_items.each do |order_item| %>
    <div id="<%= "order_row_#{order_item.item.id}" %>">
      <div><%= order_item.item.title %></div>
      <div><%= order_item.price %></div>
      <div><%= order_item.quantity %></div>
      <div><%= order_item.item.title %></div>

    </div>
<% end %>

<div>Total price: <%= @order.total%></div>
