<h2>Items in order:</h2>
<table class="highlight">
  <tr>
    <th>Dish title:</th>
    <th>Price:</th>
    <th>Quantity:</th>
    <th>Sum:</th>
  </tr>
  <% @order.shopping_cart_items.each do |order_item| %>
    <tr id="<%= "order_row_#{order_item.item.id}" %>">
      <td><%= order_item.item.title %></td>
      <td><%= order_item.price %></td>
      <td><%= order_item.quantity %></td>
      <td><%= order_item.price * order_item.quantity %></td>
      <td>
        <%= form_tag(order_path, method: 'delete') do %>
          <%= hidden_field_tag :dish_id, order_item.item.id %>
          <%= submit_tag('Delete', id: 'del_' + order_item.item.id.to_s, class: 'waves-effect waves-light btn btn-small red') %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<h5>Total price: <%= @order.total %> sek</h5>
<h6>Including VAT. (12%): <%= @order.total * 0.1071 %> sek</h6>


<div>Total price: <%= @order.total %></div>
<%= form_tag charges_path do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, '', onblur: 'checkMandatoryValues()' %>
  <%= label_tag :address_1, 'Address 1' %>
  <%= text_field_tag :address_1, '', onblur: 'checkMandatoryValues()' %>
  <%= label_tag :address_2, 'Address 2' %>
  <%= text_field_tag :address_2, '', onblur: 'checkMandatoryValues()' %>
  <%= label_tag :postal_code %>
  <%= text_field_tag :postal_code, '', onblur: 'checkMandatoryValues()' %>
  <%= label_tag :city %>
  <%= text_field_tag :city, '', onblur: 'checkMandatoryValues()' %>
  <%= label_tag :email %>
  <%= text_field_tag :email, '', onblur: 'checkMandatoryValues()' %>
  <%= label_tag :phone_number %>
  <%= text_field_tag :phone_number, '', onblur: 'checkMandatoryValues()' %>

  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <div id="mandatory-address-message">Customer Information Must be Filled in</div>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV['PUBLISHABLE_KEY'] %>"
          data-description='Foodie Moodie'
          data-amount="<%= @order.total * 100 %>"
          data-currency="sek"></script>
<% end %>

<script>

  var checkMandatoryValues = function () {
    var name = $('#name').val();
    var address1 = $('#address_1').val();
    var address2 = $('#address_2').val();
    var postal_code = $('#postal_code').val();
    var city = $('#city').val();
    var email = $('#email').val();
    var phone = $('#phone_number').val();
//console.log(name, address1, address2, postal_code, city, email, phone);
    if (name && address1 && postal_code && city && email && phone) {
      $('.stripe-button-el').removeAttr('disabled');
      $('#mandatory-address-message').hide();
    }
    else {
      $('.stripe-button-el').attr('disabled', 'disabled');
      $('#mandatory-address-message').show();
    }
  };

  $(document).ready(function () {
    $('.stripe-button-el').attr('disabled', 'disabled');
  });
</script>
