<% @order_items.each do |order_item| %>
  <div id="<%= "order_row_#{order_item.item.id}" %>">
    <div><%= order_item.item.title %></div>
    <div><%= order_item.price %></div>
    <div><%= order_item.quantity %></div>
    <div><%= order_item.item.title %></div>

  </div>
<% end %>

<div>Total price: <%= @order.total %></div>
<%= form_tag charges_path do %>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV['PUBLISHABLE_KEY'] %>"
          data-description='Foodie Moodie'
          data-amount="<%= @order.total * 100 %>"
          data-currency="sek"></script>
<% end %>
