<br>
<div class="card map" id="map"></div>
<div class="note"><%= params[:search] %> : <%= @my_ip_location %></div>
<h4>Is this the place you want your food delivered to?</h4>
<h6>If not, enter the correct location below to get the restaurants that will deliver to your place. </h6>
<br>

<div class="row">
  <%= form_tag restaurants_path, method: :get do %>
    <div class = "col s12 m9 left">
      <%= text_field_tag :search, params[:search], placeholder: "Your location" %>
    </div>
    <div class = "col s12 m3 right">
      <%= submit_tag "Search Near", name: nil, class: "waves-effect waves-light btn-large" %>
    </div>
  <% end %>
</div>


<div class="button-group filter-button-group left-align" style="margin-bottom: 10px; width: 100%;">
  <span class="left-align">Filter:</span>
  <button class="waves-effect waves-light btn btn-small" data-filter="*">show all</button>
  <% @cuisines.each do |cuisine| %>
      <button class="waves-effect waves-light btn btn-small" data-filter=".<%= cuisine.parameterize %>"><%= cuisine %></button>
  <% end %>
</div>

<div class="grid row center-align card" style="background-color: #b5d7d4">


  <% @restaurants.each do |restaurant| %>

    <div class="grid-item card fix-card left-align <%= restaurant.cuisine.parameterize %>">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag "http://lorempixel.com/400/200/food/" + restaurant.id.to_s + "/"%>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= restaurant.name %><i class="material-icons right">more_vert</i></span>
        <p>Cuisine: <%= restaurant.cuisine %></p>
        <br><%= link_to 'Go to restaurant: ' + restaurant.name, restaurant_path(restaurant)%>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= restaurant.name %><i class="material-icons right">close</i></span>
        <div><%= restaurant.address %></div>
        <div><%= restaurant.phone_number %></div>
        <div><%= mail_to restaurant.email %></div>
      </div>
    </div>

  <% end %>

</div>

<script type="text/javascript">
  var my_latitude = <%= @my_ip_location[0] %>  || 59.330668;
  var my_longitude = <%= @my_ip_location[1] %> || 18.057932;
  var map;

  document.addEventListener('DOMContentLoaded', function () {

      $('.grid').isotope({
          // options
          itemSelector: '.grid-item',
          layoutMode: 'fitRows'
      });

        map = new GMaps({
          div: '#map',
          lat: my_latitude,
          lng: my_longitude,
      });
      <% if @geo_locate %>
        GMaps.geolocate({
            success: function(position) {
                map.setCenter(position.coords.latitude, position.coords.longitude);
                my_latitude = position.coords.latitude;
                my_longitude = position.coords.longitude;
            },
            error: function(error) {
                alert('Geolocation failed: '+error.message);
            },
            not_supported: function() {
                alert("Your browser does not support geolocation");
            },
            always: function() {
                  map.addMarker({
                    lat: my_latitude,
                    lng: my_longitude,
                    title: "Your location",
                    click: function(e) {

                    }
                });
            }
        });
      <% else %>
        map.addMarker({
            lat: my_latitude,
            lng: my_longitude,
            title: 'Lima',
            click: function(e) {
                alert('You clicked in this marker');
            }
        });
      <% end %>

  });

  // init Isotope
  var $grid = $('.grid').isotope({
      // options
  });
  // filter items on button click
  $('.filter-button-group').on( 'click', 'button', function() {
      var filterValue = $(this).attr('data-filter');
      $grid.isotope({ filter: filterValue });
  });
  
</script>
