<br>
<div class="card">
  <div class="card-image">
    <div id="map" class="map" style="height: 300px; width: 100%;"></div>
  </div>
</div>
<div class="note"><%= params[:search] %> : <%= @my_ip_location %></div>
<h4>Is this the place you want your food delivered to?</h4>
<h6>If not, enter the correct location below to get the restaurants that will deliver to your place. </h6>
<br>
<div class="row">
  <div style="display: inline-block; width: 100%">
    <%= form_tag restaurants_path, :method => :get do %>
          <%= text_field_tag :search, params[:search], placeholder: "Your location" %>
          <%= submit_tag "Search Near", :name => nil, class: "waves-effect waves-light btn-large" %>
    <% end %>
  </div>
</div>

<div class="row">

<% @restaurants.each do |restaurant| %>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "http://lorempixel.com/400/200/food/" + restaurant.id.to_s + "/"%>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= restaurant.name %><i class="material-icons right">more_vert</i></span>
          <p>Cuisine: <%= restaurant.cuisine %></p>
          <br><%= link_to 'Go to restaurant: ' + restaurant.name, restaurant_path(restaurant)%>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= restaurant.name %><i class="material-icons right">close</i></span>
          <div><%= restaurant.address %></div>
          <div><%= restaurant.phone_number %></div>
          <div><%= mail_to restaurant.email %></div>
        </div>
      </div>
    </div>

<% end %>

</div>


<script type="text/javascript">
  var my_latitude = <%= @my_ip_location[0] %>  || 59.330668;
  var my_longitude = <%= @my_ip_location[1] %> || 18.057932;
  var map;

  document.addEventListener('DOMContentLoaded', function () {

        map = new GMaps({
          div: '#map',
          lat: my_latitude,
          lng: my_longitude,
      });
      <% if @geo_locate %>
        GMaps.geolocate({
            success: function(position) {
                map.setCenter(position.coords.latitude, position.coords.longitude);
                my_latitude = position.coords.latitude;
                my_longitude = position.coords.longitude;
            },
            error: function(error) {
                alert('Geolocation failed: '+error.message);
            },
            not_supported: function() {
                alert("Your browser does not support geolocation");
            },
            always: function() {
                  map.addMarker({
                    lat: my_latitude,
                    lng: my_longitude,
                    title: "Your location",
                    click: function(e) {
                        
                    }
                });
            }
        });
      <% else %>
        map.addMarker({
            lat: my_latitude,
            lng: my_longitude,
            title: 'Lima',
            click: function(e) {
                alert('You clicked in this marker');
            }
        });
      <% end %>

  });
</script>
