

<% @restaurants.each do |restaurant| %>
  <div>
    <h1>
      <%= link_to restaurant.name, restaurant_path(restaurant)%>  
    </h1>
  </div>
    <div><%= restaurant.address1 %>, <%= restaurant.postal_code %> <%= restaurant.city %> </div>
    <div><%= restaurant.phone_number %></div>
    <div><%= restaurant.cuisine %></div>
<% end %>
